footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  background-color: #b4c1c9;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

footer ul {
  margin: 1rem;
  font-size: 0.9rem;
}

footer h1 {
  font-size: 3rem;
  padding-bottom: 40px;
}

.copyright p {
  font-size: 0.8rem;
  margin-bottom: 60px;
}

/* borde gå utan att göra två class?*/
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
