.form-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  width: 100vw;
  overflow: hidden;
}

/* .form-container {
  display: flex;
  width: 90%;
  padding: 30px;
  align-items: flex-end;
  flex-direction: column;
  z-index: 2;
} */

.form-container h1 {
  margin: 0;
}
/* .form-container p {

} */
.rsvp-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding-bottom: 30%;
  z-index: 11;
}

.rsvp-form label {
  margin-top: 1rem;
  font-family: "Lato";

}

.rsvp-form input {
  margin-top: 5px;
  height: 1.5rem;
  border: none;
  border-radius: 3px;
  padding: 2px;
}

.f-btn {
  margin-top: 1rem;
  background-color: var(--ikea-blue);
  color: white;
  width: 6rem;
  border: none;
  border-radius: 2rem;
  height: 2rem;
  margin-left: 5rem;
}

/* .paper-left img {
  height: 500px;
  width: 80%;
} */