/* .form-container {
  display: flex;
  width: 90%;
  padding: 30px;
  align-items: flex-end;
  flex-direction: column;
  z-index: 2;
}

.form-container h1 {
  margin: 0;
}
*/
.rsvp-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding-bottom: 200px;
}
