.rsvp-container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.paper-left {
  display: flex;
  justify-content: flex-start;

  max-width: 100%;
  max-height: 70vh;
  left: 0;
  top: 20vh;
  position: absolute;

  font-size: 16px;
}

.paper-left img {
  display: flex;
  position: absolute;
  width: 100%;
  opacity: 0.9;
}

.form-container {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.form-container h1 {
  margin: 0;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 1rem auto;
  z-index: 11;
}

.rsvp-form label {
  margin-bottom: 5px;
  font-family: "Lato";
}

.rsvp-form input {
  height: 1.5rem;
  width: 14rem;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
}

.rsvp-btn {
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 25%;
}

.rsvp-btn:active {
  transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.btn-animation {
  background-color: var(--ikea-blue);
  width: 5rem;
  font-size: 1rem;
  letter-spacing: 0.9px;
  height: 2rem;
  border: none;
  box-shadow: 1px 1px 1px #888888;
  border-radius: 25px;
  transition: all 0.7s ease;
  transform: scale(1);
  color: white;
}

.btn-animation:hover {
  transform: scale(1.2) perspective(0.5px);
  background-color: var(--ikea-yellow);
  color: var(--ikea-blue);
  font-family: "Junior";
  border-radius: 3px;
  border: 5px solid var(--ikea-blue);
  box-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}
