* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100vw;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/fonts/BebasNeue-Regular.woff");
}

@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato-Regular.woff");
}

@font-face {
  font-family: "Junior";
  src: url("/assets/fonts/Junior.woff");
}

h1 {
  font-family: "Bebas Neue";
  font-size: 8vh;
  color: var(--ikea-blue);
  line-height: 4rem;
}

h2 {
  font-family: "Bebas Neue";
  font-weight: 500;
  font-size: 18px;
}

p {
  font-family: "Lato", "Gill Sans", Calibri, sans-serif;
  color: black;
  font-size: 20px;
}

a {
  text-decoration: none;
}

:root {
  --ikea-blue: rgb(35, 91, 157);
  --ikea-yellow: rgba(255, 218, 26, 0.753);
}
