* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*scroll-behavior: smooth;*/
}

@font-face {
  font-family: "Bebas Neue";
  src: url('/assets/fonts/BebasNeue-Regular.woff');
}

@font-face {
  font-family: "Lato";
  src: url('/assets/fonts/Lato-Regular.woff');
}

h1 {
  font-family: "Bebas Neue";
  font-size: 9vh;
  margin-bottom: 1rem;
  color: #235c9d;
}

p {
  font-family: "Lato", 'Gill Sans', Calibri, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 20px;
}

/*
:root {
    --header-bg: ;
    --body-bg: ;
    --font: ;
} */
