* {
  margin: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  bottom: 0px;
  height: 4rem;
  z-index: 10;
  background-color: var(--ikea-blue);
  width: 100%;
}

header h1 {
  display: none;
}

.hamburger {
  width: 50px;
  height: 50px;
  background: none;
  border: 0;
  position: absolute;
  z-index: 11;
  pointer-events: none;
}

header input {
  opacity: 0;
  z-index: 0;
  visibility: hidden;
  position: absolute;
}

header label {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10%;
  right: 45%;
  display: block;
}
