header {
  display: flex;
  width: 100%;
  position: absolute;
  height: 100vh;
  margin: 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  scroll-snap-align: start;
  /*border-bottom: 5px solid indigo;*/
}

.nav-bar {
  display: flex;
  width: 100%;
  top: 0;
  right: 0;
  display: none;
  flex-direction: row;
  background: rgb(132, 175, 135);
  position: relative;
  z-index: 111;
}

.nav-item {
  font-family: "Courier New", Courier, monospace;
}

.img-hero {
  width: 100vw;
  height: 100vh;
  top: 0;
  object-fit: cover;
}
