body {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth; /* clicking navbar links, not on all browsers */
  scroll-snap-type: y; /* mandatory is bad-ish a11y, not available on Brave */
}
/* WELCOME */
/* .welcome {
  display: flex;
  height: 100vh;
} */

/* vill försöka ge sidan en max-width för stora skärmar så bilder inte blir
blurriga. Behöver sätta max-width på en/flera? parent-element och width i % på children */
main {
  max-width: 500px;
}

/* fd welcome-container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* height: 100vh; */
  width: 100vw;

  /* left: 0; */
}

.paper {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  /* height: 500px; */
  position: absolute;
  /* z-index: 1; */
  font-size: 16px;
  /*  top: 15%; */
  /* right: 0px; */
  opacity: 0.8;
}

.container-text {
  display: flex;
  width: 90%;
  padding: 30px;
  align-items: flex-end;
  flex-direction: column;
}

/* .aos-init .aos-animate {
  display: flex;
  align-items: flex-end;
  right: 10px;
} */

.paper img {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  /*   max-height: 400px;
  max-width: 90%; */
}

/* bytte namn, föredetta fp-img */
.room-img {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  object-fit: cover;
}

/*
.welcome-content {
  font size etc
}*/

/* PROGRAM */
.program {
  height: 100vh;
  display: flex;
}

.program-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-content {
  position: absolute;
  top: 30%;
  padding: 3rem;
}

.program-content li {
  font-family: "Lato", 'Gill Sans', Calibri, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

/* RSVP */
.form-container{
  display: flex;
  width: 90%;
  padding: 30px;
  align-items: flex-end;
  flex-direction: column;
}

.form-container h1 {
  margin: 0;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
}

/* .paper-left {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  height: 500px;
  position: absolute;
  z-index: 1;
  font-size: 16px;
   top: 15%;
  right: 0px;
  opacity: 0.8;
} */
/*
.rsvp-content {
  font size etc
}*/
