/* DESKTOP HEADER
-----------------------------------------------------------*/
@media screen and (min-width: 800px) {
  header {
    position: fixed;
    top: 0;
    margin: 0;
    height: 5rem;
  }

  header input {
    opacity: 0;
    z-index: 0;
    visibility: hidden;
    position: absolute;
    left: 40%;
    width: 30%;
  }

  header label {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    top: 15%;
    right: 3rem;

    /* Turn Pink to see where you can click  */
    /* background-color: violet; */
  }

  header h1 {
    display: block;
    color: white;
    margin-left: 3rem;
    padding: 0;
    font-size: 4rem;
  }

  .hamburger {
    width: 50px;
    height: 50px;
    background: none;
    border: 0;
    /* position: absolute;
    top: 15%;
    right: 3rem; */
    z-index: 11;
    pointer-events: none;
  }
}

/* DESKTOP IMAGES
------------------------------------------- */
@media screen and (min-width: 768px) {
  .container-text img {
    margin-left: 115px;
  }
}

/* MOBILE IMAGES
------------------------------------------- */
@media screen and (max-width: 768px) {
  .container-text img {
    max-width: 130px;
    margin-left: 25px;
    top: 10px;
  }
}

/* RSVP FORM - images
---------------------------------------------*/
@media screen and (min-width: 768px) {
  .form-container img {
    width: 130px;
    left: 100px;
    opacity: 1;
  }
  .rsvp-icon {
    width: 130px;
    left: 180px;
    top: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .form-container img {
    left: 220px;
  }
}
@media screen and (max-width: 767px) {
  .form-container img {
    display: none;
  }
}
